<app-employee-navbar></app-employee-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="card mx-auto mt-5" style=" width: 28rem; height: 35rem;">
                <img style = "height: 30vh; width: 30vh; align-self: center;" src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/man5-512.png" class="card-img-top rounded-circle mt-4" alt="...">
                <div class="card-body mx-auto">
                  <br>
                  <br>
                  <h5 class="card-title">Employee Id : {{data[0].empId}} </h5>
                  <p class="card-text"><strong>Name : </strong>{{data[0].name}} </p>
                  <p class="card-text"><strong>Designation : </strong>{{data[0].designation}}</p>
                  <p class="card-text"><strong>Email_Id : </strong>{{data[0].email_Id}}</p>
                  
                </div>
              </div>
        </div>
    </div>
</div>
