<app-navbar></app-navbar>
<div class="container">
    <div class="row g-4 mt-4">
        
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
           <h1>ADMIN LOGIN</h1>
        
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col xxl 6 mt-5">
            
            <div class="row g-4 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <input name="username" [(ngModel)] = "username" type="text" placeholder="Username" class="form-control text-center">
                
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <input name="password" [(ngModel)] = "password" type="password" placeholder="Password" class="form-control text-center" >
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click) = "readValue()" class="btn btn-dark">Login</button>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col xxl 6">
            <div class="row g-3">
                <img src="assets/Images/admin.png" alt="">
            </div>
        </div>
        
    </div>
</div>
