<div class="container">
    <div class="row g-3 mt-4">
        <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 g-3">
            <h1>Nest Digital</h1>
            <img height="600px" width="800px" src="assets/Images/home.png" alt="">
            
        </div>
        <div class="col col-12-col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
          
            <a class="btn btn-dark" routerLink="/admin" style="margin-top: 200px;  margin-inline-start: 250px; column-width: 5cm">Admin</a><br>
            <a class="btn btn-dark g-3 mt-4" routerLink="/employeeLogin" style=" margin-inline-start: 250px; column-width: 5cm">Employee</a><br>
            <a class="btn btn-dark g-3 mt-4" routerLink="/admin" style=" margin-inline-start: 250px; column-width: 5cm">Security</a>
            
          
            
        </div>
    </div>
</div>
